.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
body {
	text-align: center;
}