<!DOCTYPE html>
<html>
<head>
	<title>Create an Account</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- More Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
    <meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Custom CSS -->
	 <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Montserrat:400,700') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Lato:400,700,400italic,700italic') }}" rel="stylesheet" type="text/css">
    

	<!-- Our css file -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='js/main.js') }}" rel="stylesheet">
</head>

<body>
	<div class="default container-fluid">

		<h1 style="font-family: 'Montserrat',sans-serif;">Create an account</h1>

		<form action="{{ url_for('create_account') }}" method="post">

			<div class="form-group">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<label for="usr">Username:</label>
						<input type="text" name="username" placeholder="Username" id="usr" class="form-control">
						<br>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<label for="pass">Password:</label>
						<input type="password" name="password" placeholder="Password" id="pass" class="form-control">
						<br>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>
				

			<div class="form-group">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<label for="pass">Confirm Password:</label>
						<input type="password" name="password" placeholder="Password" id="confirmpass" class="form-control">
						<br>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<label for="name">Full name:</label>
						<input type="text" name="fullname" placeholder="Full Name" id="name" class="form-control">
						<br>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>

			<label>Gender:</label>
			<label class="radio-inline"><input type="radio" name="gender" value="Male" id="gend">Male</label>
			<label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
			<label class="radio-inline"><input type="radio" name="gender" value="Other">Other</label>
			<br>

			<div class="form-group">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-2">
						<label for="nat">Nationality:</label>
						<input type="text" name="nationality" placeholder="Nationality" id="nat" class="form-control">
						<br>
					</div>
					<div class="col-md-5"></div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<label for="desc">Description:</label>
						<textarea class="form-control" rows="5" name="bio" placeholder="Tell users a bit about yourself" id="desc" class="form-control"></textarea>
						<br>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" value="Sign Up" onclick="return Validate()" role="button" class="btn btn-success">
				<br>
			</div>
		</form>

		<a href="{{ url_for('login') }}" role="button" class="btn btn-default" style="margin-bottom: 1.25em;">Cancel</a>

		<script type="text/javascript">
		    function Validate() {
		        var password = document.getElementById("pass").value;
		        var confirmPassword = document.getElementById("confirmpass").value;
		        if (password != confirmPassword) {
		            alert("Passwords do not match.");
		            return false;
		        }
		        return true;
		    }
		</script>
	</div>

</body>
</html>