<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
		<h3>Create an Event</h3>

	<form action="{{ url_for('create_event') }}" method="post">
		Full Name :
		<input type="text" name="fullname" placeholder="Full Name">
		<br> 
		User Name :
		<input type="text" name="username" placeholder="Username">
		<br>
		Password :
		<input type="password" name="password" placeholder="Password">
		<br>
		Gender :
		<input type="radio" name="gender" value="male">
		<input type="radio" name="gender" value="female">
		<input type="radio" name="gender" value="other">
		<br>
		Nationality :
		<input type="text" name="nationality" placeholder="Nationality">
		<br>
		Description :
		<input type="text" name="bio" placeholder="Tell users a bit about yourself">
		<br>
		<input type="submit" value="Sign Up">
		<br>
	</form>

	<a href="{{ url_for('login') }}" role="button">Cancel</a>
</body>
</html>