<!DOCTYPE html>
<html>
<head> 
<title>  Our MEET Y2 project </title>

</head>
<body>
<form action="{{ url_for('edit', user_id=user.id) }}" method="post">
name: <input type="text" name="name" value="{{user.name}}"><br>
nationality: <input type="text" name="nationality" value="{{user.nationality}}"><br>
username: <input type="text" name= "username" value="{{user.username}}"><br>
bio: <input type="text" name= "bio" value="{{user.bio}}"><br>
{% if user.gender == 'male' %}
Gender:<input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female" > Female <br>
     <input type="radio" name="gender" value="other" >Other
{%elif user.gender == 'female' %}
  <input type="radio" name="gender" value="female" checked > Female<br>
     <input type="radio" name="gender" value="male" >male
        <input type="radio" name="gender" value="other" >Other
 {%else%}
  <input type="radio" name="gender" value="other" checked > Other
    <input type="radio" name="gender" value="female" >Female
       <input type="radio" name="gender" value="male" >male
 {%endif%}
 password: <input type="text" name= "pwd" value="{{user.password}}"><br>
<input type="submit" value="add" class="btn btn-info" role="button">
</form>
	



</body>
</html>