<!DOCTYPE html>
<html>
<head>
	<title>Edit {{ event.title }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- More Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
    <meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Custom CSS -->
	 <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Montserrat:400,700') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Lato:400,700,400italic,700italic') }}" rel="stylesheet" type="text/css">
    

	<!-- Our css file -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='js/main.js') }}" rel="stylesheet">
</head>
<body>
	<div id="navbar" style="margin-bottom: 10%;">
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header page-scroll">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
	                </button>
	                <a class="navbar-brand" href="{{ url_for('main') }}">Main Menu</a>
	            </div>

	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="hidden active">
	                        <a href="#page-top"></a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="{{ url_for('profile', user_id=user.id) }}">Profile</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="{{ url_for('main') }}#about">About</a>
	                    </li>
	                    <li class="page-scroll">
	                        <a href="{{ url_for('logout') }}">Sign Out</a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container-fluid -->
	    </nav>
	</div>
	<h3>Edit Your Event</h3>

	<form action="{{ url_for('edit_event') }}" method="post" role="form" class="form-vertical"> 
		<div class='form-group'>
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<label for="title">Event Name:</label>
					<input type="text" name="title" value="{{ event.title }}" id="title" class="form-control">
					<br>
				</div>
				<div class="col-md-5"></div>
			</div>
		</div>
		<label>Date:</label>
		<div class="form-group"> 
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-1">
					<select name="day" style="float: center; padding-right: 0px;" class="form-control"> 
						{% for day in days %}
						{% if day == event.date.day %}
						<option value="{{ day }}" class="form-control" selected>{{ day }}</option>

						{% else %}
						<option value="{{ day }}">{{ day }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<!-- </div>  -->
			<!--	<div class="form-group"> -->
				<div class="col-md-1">
					<select name="month" style="float: center; margin-left: 1px" class="form-control">
						{% for month in months %}
						{% if month == event.date.month %}
						<option value="{{ month }}" selected>{{ month }}</option>
						
						{% else %}
						<option value="{{ month }}">{{ month }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			<!--	</div>
				<div class="form-group"> -->
				<div class="col-md-2">
					<select name="year" class="form-control" style="padding-left: 0x;">
						{% for year in years %}
						{% if year == event.date.year %}
						<option value="{{ year }}" selected>{{ year }}</option>

						{% else %}
						<option value="{{ year }}">{{ year }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div> 

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="location">Location:</label>
					<input type="text" name="location" value="{{ event.location }}" id="location" class="form-control">
					<br>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="des">Description:</label>
					<textarea name="description" rows="5" value="{{ event.description }}" class="form-control">{{ event.description }}</textarea>
					<br>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>


		<input type="submit" name="submit" value="Submit" role="button" class="btn btn-warning">
	</form>

	<a href="{{ url_for('main') }}" role="button" class="btn btn-default" style="margin-top: 0.3125em; margin-bottom: 1.25em;">Cancel</a>
</body>
</html>