<!DOCTYPE html>
<html>
<head>
	<title>{{ event.title }}</title>
</head>

<body>

<h2>{{ event.title }}</h2>
<h4>{{ event.date.day }}.{{ event.date.month }}.{{ event.date.year }}</h4>

<br>
<p>{{ event.description }}</p>
<!-- ADD CHEF LOOP. IDOOOOOOOOOOO SAID HE WOULD TAKE CARE OF IT , THANKYOU IDO ;) -->

{% for row in attendance %}
{% if row.chef_flag == True %}
<h4>Chef: <a href="{{ url_for('profile', user_id=row.person_id) }}">{{ row.person.name }}</a></h4>
<h4>Nationality: {{ row.person.nationality }}</h4>

{% else %}
<h4>Attending: <a href="{{ url_for('profile', user_id=row.person_id) }}">{{ row.person.name }}</a></h4>
<h4>Nationality: {{ row.person.nationality }}</h4>
{% endif %}
{% endfor %}

<br>


<!-- IF I OWN THIS EVENT , YOU CAN EDIT-->
<a href="{{ url_for('edit_event') }}">Edit</a>

<!-- ADD ATTENDING LISTSSSSSSSSSS-->


</body>
</html>