<!DOCTYPE html>
<html>
<head>
	<title>{{ event.title }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- More Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
    <meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Custom CSS -->
	 <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    

	<!-- Our css file -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>

<h2>{{ event.title }}</h2>
<h4>{{ event.date.day }}.{{ event.date.month }}.{{ event.date.year }}</h4>

<br>
<p>{{ event.description }}</p>
<!-- ADD CHEF LOOP. IDOOOOOOOOOOO SAID HE WOULD TAKE CARE OF IT , THANKYOU IDO ;) -->

{% for row in attendance %}
{% if row.chef_flag == True %}
<h4>Chef: <a href="{{ url_for('profile', user_id=row.person_id) }}">{{ row.person.name }}</a></h4>
<h4>Nationality: {{ row.person.nationality }}</h4>

{% else %}
<h4>Attending: <a href="{{ url_for('profile', user_id=row.person_id) }}">{{ row.person.name }}</a></h4>
<h4>Nationality: {{ row.person.nationality }}</h4>
{% endif %}
{% endfor %}

<br>


<!-- IF I OWN THIS EVENT , YOU CAN EDIT-->
<a href="{{ url_for('edit_event', event_id = event.id) }}">Edit</a>

<!-- ADD ATTENDING LISTSSSSSSSSSS-->


</body>
</html>