<!DOCTYPE html>
<html>
<head>
	<title>TrEat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- More Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
    <meta name="author" content="">

	<!-- Bootstrap core CSS -->
	<!--<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">-->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<!-- Custom CSS -->
	 <!-- Theme CSS -->
    <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Montserrat:400,700') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/Lato:400,700,400italic,700italic') }}" rel="stylesheet" type="text/css">
    

	<!-- Our css file -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='js/main.js') }}" rel="stylesheet">
	
</head>

<body>
	<div class="container">
		<!-- <h1>TradEat</h1> -->
		<img src="{{ url_for('static', filename='img/TrEat.png') }}" id="login-img">

		{% if error == True %}
		<h3 style="color: red">Wrong username or password</h3>
		{% endif %}

		<form action="{{ url_for('login') }}" method="post" role="form">
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="usr">Enter your username:</label>
						<input type="text" name="username" placeholder="Username" id="usr" class="form-control">
						<br>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>

			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<div class="form-group">
						<label for="pass">Enter your password:</label>
						<input type="password" name="password" placeholder="Password" id="pass" class="form-control">
						<br>
					</div>
				</div>
				<div class="col-md-5"></div>
			</div>

			<input type="submit" value="Log in" role="button" class="btn btn-default" style="margin-bottom: 0.625em;">
			<br>
		</form>

		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-4" style="margin-left: 1.40625em;">
				<label>Don't have an account?</label>
				<a href="{{ url_for('create_account') }}" role="button" class="btn btn-success">Sign Up</a>
			</div>
		</div>
	</div>


	

</body>


</html>
