<!DOCTYPE html>
<html lang="en">
<head>
	<title>Our MEET Y2 project</title>
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

<body id="page-top" class="index">
	<div class="container">
		<a role="button" href="{{ url_for('profile', user_id=user.id) }}" class="btn btn-info">Profile</button>
		<a role="button" href="{{ url_for('logout') }}" class="btn btn-info">Sign out</a>
		<br>
		<br>
		<br>
		<br>

		<br>
		<br>
		<br>
		<br>


		<form action="action_page.php">
			<select>Dropdown
					<option>Events</option>
					<option>Food</option>
					<option>People</option>
			</select>
			<input type="search" name="search">
			<input type="submit" value="Search">
		</form>

			<br>
			<br>
			<br>

			<a href="{{url_for('create_event')}}">Create</a>
	</div>
	<div class="container">
		<br>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active" width="100%">
					<a href='BROKEN-LINK-FOR-CRETING-EVENTS' class="btn btn-event" >Antonios' party woooo</a>
					<a href='BROKEN-LINK-FOR-CRETING-EVENTS' class="btn btn-event">Ido's eating fest</a>
				</div>

				<div class="item">
					<a href='BROKEN-LINK-FOR-CRETING-EVENTS' class="btn btn-event">Ido's eating fest</a>
					<a href='BROKEN-LINK-FOR-CRETING-EVENTS' class="btn btn-event">Ido's eating fest</a>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>




</body>


</html>
